<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Settings.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Settings.AppSettings>
            <setting name="HeadX" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="HeadY" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MotionThreshold" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="ContrastSteepness" serializeAs="String">
                <value>0.2</value>
            </setting>
            <setting name="ContrastShift" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="AntennaColor" serializeAs="String">
                <value>29, 29, 17</value>
            </setting>
            <setting name="ColorDistance" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MedianFilterRadius" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TipCrawlerRadius" serializeAs="String">
                <value>24</value>
            </setting>
            <setting name="ShowModel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowHulls" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowMotion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowColor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeadScale" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HeadAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScapeDistanceAtScale1" serializeAs="String">
                <value>6.3</value>
            </setting>
            <setting name="BackgroundThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ManualDataFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CompareToManualData" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxTipCrawlerHop" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TrackSectors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowSectors" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TreatmentSensor" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="ExclusionZones" serializeAs="String">
                <value />
            </setting>
            <setting name="FastThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SlowThreshold" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="StationaryThreshold" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="VideoLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="AddExclusionMsgSeen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VideoLabelColumn" serializeAs="String">
                <value />
            </setting>
        </Settings.AppSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
