<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SwarmSight.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>

    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Accord.Math" publicKeyToken="fa1a88e29555ccf7" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <userSettings>
    <SwarmSight.AppSettings>
      <setting name="HeadX" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HeadY" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HeadW" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HeadH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Quality" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="MotionThreshold" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="ContrastSteepness" serializeAs="String">
        <value>0.2</value>
      </setting>
      <setting name="ContrastShift" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="AntennaColor" serializeAs="String">
        <value>29, 29, 17</value>
      </setting>
      <setting name="ColorDistance" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="MedianFilterRadius" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TipCrawlerRadiusPrior" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="ShowModel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowHulls" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMotion" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowColor" serializeAs="String">
        <value>True</value>
      </setting>
    </SwarmSight.AppSettings>
  </userSettings>
</configuration>
