<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="google-site-verification" content="Kj_36rgl4MZxpwsGgyS0hfUpVScwqVQMW67BkohT8IY" />
  	{% include head.html %}
  </head>
  <body>
  	<section class="page-header">
  		<h1 class="project-name">
  			<img style="height: 38px; padding: 0 16px;" alt="SwarmSight logo" src="https://raw.githubusercontent.com/JustasB/SwarmSight/master/Screenshots/swarm-sight-logo.png" />
  			SwarmSight
  		</h1>
  		<h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
  		{% include menu-main.html %}
  	</section>

  	<section class="main-content">
  		{{ content }}

  		{% include footer.html %}
  	</section>

  	{% include footer-scripts.html %}
  </body>
</html>
